<% flash.each do |type, message| %>
  <div class="alert alert-<%= type == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show m-0" role="alert">
    <div class="container">
      <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  </div>
<% end %>
